
  
  <div class="mb20" fxLayout="row" fxLayoutGap="20px">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Sample Layout Page</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Application Shell using Angular Flex Layout
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-flat-button routerLink="/sample-layout">Take a look!</a>
        </mat-card-actions>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Sample Layout Page</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Application Shell using Angular Flex Layout
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-flat-button routerLink="/sample-layout">Take a look!</a>
        </mat-card-actions>
      </mat-card>
  </div>