<div class="mb20" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Sample Layout Page</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Application Shell using Angular Flex Layout
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-flat-button routerLink="/sample-layout">Take a look!</a>
      
      <button mat-button  ><mat-icon aria-hidden="false" aria-label="Pesquisar">search</mat-icon>Pesquisar</button>
      <button mat-button  ><mat-icon aria-hidden="false" aria-label="Pesquisar">add_circle</mat-icon>Novo</button>
      <button >
        <mat-icon>exit_to_app</mat-icon>
      </button>  
    </mat-card-actions>
  </mat-card>
</div>